.container {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2vw;
  height: 100vh;
  h2 {
    text-align: center;
    width: 70vw;
    font-size: 4vw;

    @media (min-width: 700px) {
      width: 100%;
      font-size: 2vw;
    }
  }
}

form {
  border: solid 2px #005695;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 60vh;
  border-radius: 20px;
  @media (min-width: 700px) {
    width: 30vw;
    height: 80vh;
  }

  div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #005695;
    font-size: 4vw;
    @media (min-width: 700px) {
      font-size: 1vw;
    }
    img {
      width: 8vw;
      @media (min-width: 700px) {
        width: 3vw;
      }
    }
  }

  input {
    width: 46vw;
    height: 5vh;
    border: solid 2px #005695;
    border-radius: 10px;
    outline: none;
    padding-left: 20px;
    @media (min-width: 700px) {
      width: 20vw;
    }
    &::placeholder {
      color: black;
    }
  }
}

input:nth-child(6) {
  background-color: #005695;
  width: 30vw;
  height: 6vh;
  padding-left: 0;
  color: white;
  font-size: 17px;
  @media (min-width: 700px) {
    width: 15vw;
  }
}
