@media (min-width: 700px) {
}

.containerDoados {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 70vh;
  align-items: center;
  @media (min-width: 700px) {
    min-height: 70vh;
  }
}

.containerCard {
  // border: solid 2px red;
  min-height: 60vh;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;

  @media (min-width: 700px) {
    // border: solid 2px red;
    flex-wrap: wrap;
    width: 85vw;
    min-height: 60vh;
    flex-direction: row;
  }

  article {
    border: solid 2px #005695;
    width: 60vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
    font-size: 3vw;

    @media (min-width: 700px) {
      width: 15vw;
      height: 50vh;
    }
  }
}

article h2 {
  text-align: center;
  width: 100%;
  font-size: 2.5vw;

  @media (min-width: 700px) {
    margin-left: 10%;
    text-align: center;
    width: 80%;
    font-size: 0.7vw;
  }
}
article img {
  display: block;
  margin: 0 auto;
  height: 20vh;
  object-fit: cover;
  border-radius: 8px;
  @media (min-width: 700px) {
    height: 26vh;
  }
}

article p {
  font-size: 2.5vw;
  margin-left: 2vw;
  @media (min-width: 700px) {
    margin-left: 1vw;
    font-size: 0.7vw;
  }
}
article p:nth-of-type(2) {
  margin-top: -4vw;
  @media (min-width: 700px) {
    margin-top: -2vw;
  }
}
